POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
DATABASE_POOL_SIZE=10
DATABASE_CONNECTION_TIMEOUT=10000
DATABASE_IDLE_TIMEOUT=10000
SESSION_SECRET=samplesecretsamplesecretsamplese
COOKIES_SECRET=samplesecretsamplesecretsamplese

REDIS_HOST=redis